html,body{
    background-color: #525E75;
}

.head {
    text-align: center;
    color: aliceblue;
    font-size: 5.5rem;
}
.main{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.start {
    width: 40%;
    min-height: 550px;
    min-width: 550px;
    /*centers the box*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAFDD6;
    border: 4px solid #AAC4FF;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #D6EFED;
}



.heading,.heading1{
    text-align: center;
}

.welcome{
    font-size: 5rem;
}

.lvl{
    margin: 1rem;
    font-size: 2rem;
    margin: 2rem 2rem;
}

.select {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.3rem;
}

.btn1, .btn2, .btn3, .btn4, .btn5, .btn6, .btn7, .btn8, .btn9{
    background-color: rgba(25, 150, 208, 0.669);
}

h1{
    color: rgba(246, 92, 92, 0.912);
    margin-top: 1rem;
}

h3{
    color: #FF8787;
}

.intro{
    /* display: none; */
}

.intro.active{
    display: none;
}

.heading1{
    font-size: 2rem;
}

.btn2{
    margin-top: 3.65rem;
    font-size: 1.3rem;
    /* centers the box */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.instruction{
    margin-top: 2.5rem;
    font-size: 3rem;
    color: blue !important;
}
.instructions_easy{
    display: none;
}

.instructions_easy.active{
    display: block;
}

.first{
    display: none;
    margin-top: 20%;
}

.first.active{
    display: block
}