


/* THIS IS FOR INDEX.HTML ONLY */

html,body{
    background-color: #525E75;
    height: 100%;
}

.title {
    text-align: center;
    color: aliceblue;
    font-size: 5.5rem;
}
.main{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 40%;
    min-height: 550px;
    min-width: 550px;
    /*centers the box*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #FAFDD6;
    border: 4px solid #AAC4FF;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #D6EFED;
}



.heading{
    text-align: center;
}

.welcome{
    font-size: 6rem;
    color: rgba(246, 92, 92, 0.912);
    margin-top: 1rem;
}

.quote{
    margin: 1rem;
    font-size: 2rem;
    margin: 2rem 2rem;
    color: #FF8787;
}

.select {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.3rem;
}

.btn{
    background-color: rgba(25, 150, 208, 0.669);
    border: 1px solid rgba(19, 115, 159, 0.669);
    box-shadow: 2px 2px 2px #394c77;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn:hover{
    color: red;
    background-color: #394c77;
}